@import url('https://fonts.googleapis.com/css?family=Roboto');
@font-face {
    font-family: 'BebasNeueR';
    src: url('../fonts/BebasNeue Regular.otf');
}
@font-face {
    font-family: 'BebasNeueL';
    src:url('../fonts/BebasNeue Light.otf');
}
@font-face {
    font-family: 'BebasNeueB';
    src: url('../fonts/BebasNeue Bold.otf');
}